html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:#303030;
    text-decoration: none;
}

body {
    line-height:3;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;  
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

.wrapper{
  margin-top: 80px;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 20px;
  width: 35%;
  display: inline-block;
}

.wrapper2 {
  margin-top: 10px;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 20px;
  width: 35%;
  display: inline-block;
}

.img-logo {
    width: 400px;
}

h1{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 20px;
}

h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 15px;
}

nav {
    display: inline-block;
    width: 50%;
    color: #ffffff;
    padding-top: 10px;
    line-height: 38px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #ffffff;
}

ul li a:hover {
    color: #f9ab40
}

.sns {
    width: 25px;
    padding-right: 20px;
}

.paylist {
    margin-top: 20px;
    list-style: none;
    display: inline-block;
}

.paylist li {
    float: left;
    padding-right: 10px;
}

.payicon {
    width: 35px;
}

@media screen and (max-width: 1150px){
  .wrapper {
    margin-top: 80px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 40px;
    width: 50%;
    display: inline-block;
    transform: scale(1.2);
  }
  .wrapper2 {
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    width: 50%;
    display: inline-block;
    transform: scale(1.2);
  }
}


@media screen and (max-width: 650px){
  .wrapper {
    margin-top: 200px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    width: 50%;
    display: inline-block;
    transform: scale(1.5);
  }
  .wrapper2 {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    width: 50%;
    display: inline-block;
    transform: scale(1.5);
  }
  .sns {
    width: 40px;
    padding-right: 20px;
    padding-bottom: 10%;
  }
  ul li a {
    text-decoration: none;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 26px;
    color: #ffffff;
    line-height: 70px;
  }
}

.content {
  height: 100%;
  width: 100%;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.content .copyright {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  color: white;
  padding-left: 15px;
  }

.content .glitch {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  font-size: 70px;
  color: white;
}

.content .glitch::before,
.content .glitch::after {
  position: absolute;
  content: attr(data-text);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #303030;
  color: white;
  overflow: hidden;
}

.content .glitch::before {
  left: 8px;
  text-shadow: -4px 0 red;
  animation: glitch-1 2s 0s linear reverse infinite;
}

.content .glitch::after {
  left: -8px;
  text-shadow:  -4px 0 blue;
  animation: glitch-2 2s 0s linear reverse infinite;
}

@keyframes glitch-1 {
  0% {
    clip: rect(660px, 350px, 701px, 0px);
  }
  5% {
    clip: rect(117px, 350px, 294px, 0px);
  }
  10% {
    clip: rect(240px, 350px, 566px, 0px);
  }
  15% {
    clip: rect(87px, 350px, 182px, 0px);
  }
  20% {
    clip: rect(680px, 350px, 761px, 0px);
  }
  25% {
    clip: rect(334px, 350px, 514px, 0px);
  }
  30% {
    clip: rect(233px, 350px, 74px, 0px);
  }
  35% {
    clip: rect(76px, 350px, 107px, 0px);
  }
  40% {
    clip: rect(359px, 350px, 130px, 0px);
  }
  45% {
    clip: rect(129px, 350px, 584px, 0px);
  }
  50% {
    clip: rect(422px, 350px, 767px, 0px);
  }
  55% {
    clip: rect(67px, 350px, 162px, 0px);
  }
  60% {
    clip: rect(210px, 350px, 305px, 0px);
  }
  65% {
    clip: rect(678px, 350px, 715px, 0px);
  }
  70% {
    clip: rect(260px, 350px, 413px, 0px);
  }
  75% {
    clip: rect(15px, 350px, 175px, 0px);
  }
  80% {
    clip: rect(66px, 350px, 139px, 0px);
  }
  85% {
    clip: rect(280px, 350px, 473px, 0px);
  }
  90% {
    clip: rect(636px, 350px, 728px, 0px);
  }
  95% {
    clip: rect(68px, 350px, 203px, 0px);
  }
  100% {
    clip: rect(14px, 350px, 100px, 0px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(229px, 350px, 336px, 0px);
  }
  5% {
    clip: rect(636px, 350px, 740px, 0px);
  }
  10% {
    clip: rect(285px, 350px, 366px, 0px);
  }
  15% {
    clip: rect(191px, 350px, 291px, 0px);
  }
  20% {
    clip: rect(248px, 350px, 338px, 0px);
  }
  25% {
    clip: rect(638px, 350px, 760px, 0px);
  }
  30% {
    clip: rect(269px, 350px, 554px, 0px);
  }
  35% {
    clip: rect(198px, 350px, 71px, 0px);
  }
  40% {
    clip: rect(186px, 350px, 434px, 0px);
  }
  45% {
    clip: rect(234px, 350px, 243px, 0px);
  }
  50% {
    clip: rect(602px, 350px, 780px, 0px);
  }
  55% {
    clip: rect(119px, 350px, 544px, 0px);
  }
  60% {
    clip: rect(106px, 350px, 199px, 0px);
  }
  65% {
    clip: rect(161px, 350px, 274px, 0px);
  }
  70% {
    clip: rect(120px, 350px, 578px, 0px);
  }
  75% {
    clip: rect(263px, 350px, 479px, 0px);
  }
  80% {
    clip: rect(78px, 350px, 252px, 0px);
  }
  85% {
    clip: rect(635px, 350px, 739px, 0px);
  }
  90% {
    clip: rect(67px, 350px, 470px, 0px);
  }
  95% {
    clip: rect(71px, 350px, 503px, 0px);
  }
  100% {
    clip: rect(183px, 350px, 240px, 0px);
  }
}
